# Operators

- __Arithmetic Operators__
    
- __Assignment Operators__
    
- __Comparison Operators__

- __Logical Operators__

- __Identity Operators__

- __Membership Operators__

In [ ]:
# Arithmetic Operators

x = 5
y = 2
print(x + y)
#print(x - y)
#print(x * y)
#print(x / y)
#print(x % y)
#print(x ** y)
#print(x // y)

In [ ]:
# Assignment Operators

x = 5
x

In [ ]:
x += 3 # x = x + 3
x

In [ ]:
x -= 3 # x = x - 3
x

In [ ]:
x *= 3 # x = x * 3
x

In [ ]:
x /= 3 # x = x / 3
x

In [ ]:
# Comparison Operators
x = 15
y = 16

print(x == y)
#print(x != y)
#print(x < y)
#print(x > y)
#print(x <= y)
#print(x >= y)

In [ ]:
# Logical Operators (and, or, not)
x = 6
if x < 5 and x < 10:
    print('True')
else:
    print('False')
    
'''
if not(x < 5 and x < 10):
    print('True')
else:
    print('False')
'''

In [ ]:
# Identity Operators and Membership Operators

var1 = 'ironhack'
var2 = 'data'

var1 is var2
#var2 in var1

# Control Flow

- __if__
    
- __elif__
    
- __else__

- __for__

- __while__

In [ ]:
# if, elif, else

price = float(input("Enter a price: "))
quantity = int(input("Enter a quantity: "))
amount = price*quantity

if amount > 100:
    if amount > 500:
        print("Amount is greater than 500")
    else:
        if amount < 500 and amount > 400:
            print("Amount is")
        elif amount < 500 and amount > 300:
            print("Amount is between 300 and 500")
        else:
            print("Amount is between 200 and 500")
elif amount == 100:
    print("Amount is 100")
else:
    print("Amount is less than 100")

In [ ]:
# for loop

rows = 5
# outer loop
for i in range(rows):
    # inner loop
    for j in range(i + 1):
        print("*", end=" ")
    print('')

In [ ]:
# while loop

names = ['Adja', 'Pablo', 'Octavio', 'Victor']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count += 1
    print()

In [ ]:
# break

for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

In [ ]:
# continue

first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)