# SQL Extra Topics - SQLAlchemy

The SQLAlchemy SQL Toolkit and Object Relational Mapper is a comprehensive set of tools for working with databases and Python

We'll need:

- [Azure SQL Database](https://portal.azure.com/)

- [ODBC Driver for SQL Server](https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver15)

- [pyodbc](https://pypi.org/project/pyodbc/)

- [SQLAlchemy](https://docs.sqlalchemy.org/en/13/intro.html)

In [1]:
#Install libraries before starting

# imports

import os
from dotenv import load_dotenv
import pyodbc
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pandas as pd

sqlalchemy.__version__

'1.4.28'

---

### dotenv

https://pypi.org/project/python-dotenv/

In [ ]:
load_dotenv('.env')

DATABASE_PASSWORD = os.environ.get("DATABASE_PASSWORD")
DATABASE_PASSWORD

---

In [ ]:
# connection string params => https://docs.sqlalchemy.org/en/14/dialects/mssql.html#pass-through-exact-pyodbc-string

driver = 'Driver={ODBC Driver 17 for SQL Server};'
server = 'Server=tcp:sqlironhack.database.windows.net,1433;'
database = 'Database=AdventureWorksLT;'
uid = 'Uid=azureuser;'
pwd = f'Pwd={DATABASE_PASSWORD};'
config = 'Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'

In [ ]:
# connection string assembly

connection_string = driver+server+database+uid+pwd+config 
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
connection_url

In [ ]:
# SQL Engine => dialect+driver (https://docs.sqlalchemy.org/en/14/core/engines.html)

engine = create_engine(connection_url)
type(engine)

---

In [ ]:
# Pandas!!!

df = pd.read_sql_query("SELECT * FROM SalesLT.ProductModel", engine)
df

---

### Let's see some examples...

In [ ]:
query_1 = '''
SELECT TOP 20 pc.Name as CategoryName, p.name as ProductName 
FROM SalesLT.ProductCategory pc JOIN SalesLT.Product p ON pc.productcategoryid = p.productcategoryid
ORDER BY CategoryName
'''

In [ ]:
df_q1 = pd.read_sql_query(query_1, engine)
df_q1

In [ ]:
query_2 = '''
SELECT c.FirstName + ' ' + c.LastName AS [Customer Fullname], p.Name AS [Product Name]
FROM SalesLT.Customer AS c
    INNER JOIN SalesLT.SalesOrderHeader AS soh ON c.CustomerID = soh.CustomerID
    INNER JOIN SalesLT.SalesOrderDetail AS shd ON soh.SalesOrderID = shd.SalesOrderID
    INNER JOIN SalesLT.Product AS p ON shd.ProductID = p.ProductID
ORDER BY [Customer Fullname], [Product Name]
'''

In [ ]:
df_q2 = pd.read_sql_query(query_2, engine)
df_q2

In [ ]:
query_3 = '''
SELECT   p.name, COUNT(*) AS 'Total Orders'
FROM SalesLT.Product AS p
    INNER JOIN SalesLT.SalesOrderDetail AS sod ON p.ProductID = sod.ProductID
GROUP BY  p.Name
ORDER BY 'Total Orders' DESC
'''

In [ ]:
df_q3 = pd.read_sql_query(query_3, engine)
df_q3

---